<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690558030788-8g5p1lmhmu9gbsvitlib09dn116vraqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690558030788-8g5p1lmhmu9gbsvitlib09dn116vraqn</string>
	<key>API_KEY</key>
	<string>AIzaSyA7WkiqhrcH2rSHu8YP_t55cIY4XDLiUA0</string>
	<key>GCM_SENDER_ID</key>
	<string>690558030788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ADA.TwitterSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>datapractice-3d4f2</string>
	<key>STORAGE_BUCKET</key>
	<string>datapractice-3d4f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690558030788:ios:55ec59dac44a782a4e0a91</string>
</dict>
</plist>